.typographyInternetPaymentDisplayLarge 
 {
  
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 57px;
  line-height: 64px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyInternetPaymentDisplayLargeSb 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 57px;
  line-height: 64px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyInternetPaymentDisplayMedium 
 {
  
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 52px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyInternetPaymentDisplayMediumSb 
 {
  
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 52px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyInternetPaymentDisplaySmall 
 {
  
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyInternetPaymentDisplaySmallSb 
 {
  
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyInternetPaymentHeadlineLarge 
 {
  
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyInternetPaymentHeadlineMedium 
 {
  
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyInternetPaymentHeadlineSmall 
 {
  
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyInternetPaymentHeadlineLargeSb 
 {
  
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyInternetPaymentHeadlineMediumSb 
 {
  
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyInternetPaymentHeadlineSmallSb 
 {
  
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyInternetPaymentTitleLarge 
 {
  
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyInternetPaymentTitleMedium 
 {
  
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyInternetPaymentTitleSmall 
 {
  
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyInternetPaymentTitleLargeSb 
 {
  
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyInternetPaymentTitleMediumSb 
 {
  
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyInternetPaymentTitleSmallSb 
 {
  
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyInternetPaymentLabelLarge 
 {
  
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyInternetPaymentLabelMedium 
 {
  
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyInternetPaymentLabelSmall 
 {
  
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyInternetPaymentLabelLargeSb 
 {
  
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyInternetPaymentLabelMediumSb 
 {
  
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyInternetPaymentLabelSmallSb 
 {
  
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

